
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    background-color: grey;
}



.heading-container{
    /* border:solid black 2px; */
    text-align: center;
    margin-top: 0.5rem;
}

.heading-container h1{
    font-size: 3rem;
}

#restart-button{
    height: 50px;
    width:90px;
    font-size: 1.4rem;
    background-color: #b83b5e;
    margin: 1.5rem;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
}

#restart-button:hover{
    color:#28abb9;
    background-color: #790c5a;
}

.gameboard-container{
    /* border:solid green 2px; */
    display: flex;
    flex-flow: row wrap;
    height:400px;
    width: 450px;
    justify-content: center;
    margin: 0% auto;
}

.box {

    height: 130px;
    width: 130px;
    border: solid purple 4px;
    padding-bottom: 2rem;
}




/* stylings for individual boxes */
.first-box{
    border-top: solid grey 4px;
    border-left: solid grey 4px;
}

.second-box{
    border-top: solid grey 4px;
}

.third-box{
       border-top: solid grey 4px;
       border-right: solid grey 4px;
}

.fourth-box{
    border-left: solid grey 4px;
}
/* 
.fifth-box{
    
} */

.sixth-box{
    /* border-top: solid grey 4px; */
    border-right: solid grey 4px;
}
.seventh-box{
    border-left: solid grey 4px;
    border-bottom:solid grey 4px;
}

.eighth-box{
    border-bottom:solid grey 4px;
    
}


.ninth-box{
    border-bottom:solid grey 4px;
    border-right: solid grey 4px;

}

/* media queries for mobile */
@media screen and (max-width:600px){
.gameboard-container {
    /* border:solid green 2px; */
    display: flex;
    flex-flow: row wrap;
   width: 350px;
   height: 258px;
    justify-content: center;
    margin: 0% auto;
}

.box {

    height: 86px;
    width: 98px;
    border: solid purple 4px;
    padding-bottom: 1.5rem;
}

.first-box {
    border-top: solid grey 4px;
    border-left: solid grey 4px;
}

.second-box {
    border-top: solid grey 4px;
}

.third-box {
    border-top: solid grey 4px;
    border-right: solid grey 4px;
}

.fourth-box {
    border-left: solid grey 4px;
}

/* 
.fifth-box{
    
} */

.sixth-box {
    /* border-top: solid grey 4px; */
    border-right: solid grey 4px;
}

.seventh-box {
    border-left: solid grey 4px;
    border-bottom: solid grey 4px;
}

.eighth-box {
    border-bottom: solid grey 4px;

}


.ninth-box {
    border-bottom: solid grey 4px;
    border-right: solid grey 4px;

}


    
}
