
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    background-color: grey;
}



.heading-container{
    /* border:solid black 2px; */
    text-align: center;
    margin-top: 0.5rem;
}

.heading-container h1{
    font-size: 3rem;
}

#restart-button{
    height: 50px;
    width:90px;
    font-size: 1.4rem;
    background-color: #b83b5e;
    margin: 1.5rem;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
}

#restart-button:hover{
    color:#28abb9;
    background-color: #790c5a;
}

.gameboard-container{
    /* border:solid green 2px; */
    position: absolute;
    left: 40%;
    top: 30%;
    display: flex;
    flex-flow: row wrap;
    height:300px;
    width: 300px;
    justify-content: center;
    margin: 0% auto;
    cursor: pointer;
  
    
}

.box {

    height: 90px;
    width: 90px;
    border: solid purple 5.5px;
 
}




/* stylings for individual boxes */
.first-box{
    border-top: solid grey 4px;
    border-left: solid grey 4px;
   
}

.second-box{
    border-top: solid grey 4px;
}

.third-box{
       border-top: solid grey 4px;
       border-right: solid grey 4px;
}

.fourth-box{
    border-left: solid grey 4px;
}
/* 
.fifth-box{
    
} */

.sixth-box{
    /* border-top: solid grey 4px; */
    border-right: solid grey 4px;
}
.seventh-box{
    border-left: solid grey 4px;
    border-bottom:solid grey 4px;
}

.eighth-box{
    border-bottom:solid grey 4px;
    
}


.ninth-box{
    border-bottom:solid grey 4px;
    border-right: solid grey 4px;

}



@media screen and (min-width:768px){

#rules-container{
       position: absolute;
       width: 310px;
       height: 340px; 
       left: 2%;
       top: 25%; 
       background-color: rgb(95, 93, 93);
       border-radius: 4px;
   
     box-shadow: 4px 4px 5px 0px #495464;
opacity: 0.1;    }   

    #rules-container:hover{
opacity: 1; }



#rules-heading{

padding-left: 20px;
padding-right: 20px;
text-align: center;
font-style: normal;
font-weight: normal;
font-size: 1.5rem;
line-height: 56px;
font-family: 'Raleway',
sans-serif;
color: #000000;
}

#rules-text{
    /* position: relative; */
    width: 80%;
    /* height: 126px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
padding-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 42px;
    color: #000000;
}

}


/* media queries for mobile */
@media screen and (max-width:600px){
.gameboard-container {
    /* border:solid green 2px; */
    display: flex;
    flex-flow: row wrap;
   width: 350px;
   height: 258px;
    justify-content: center;
    margin: 0% auto;
}

.box {

    height: 86px;
    width: 98px;
    border: solid purple 4px;
    padding-bottom: 2rem;
}

.first-box {
    border-top: solid grey 4px;
    border-left: solid grey 4px;
}

.second-box {
    border-top: solid grey 4px;
}

.third-box {
    border-top: solid grey 4px;
    border-right: solid grey 4px;
}

.fourth-box {
    border-left: solid grey 4px;
}

/* 
.fifth-box{
    
} */

.sixth-box {
    /* border-top: solid grey 4px; */
    border-right: solid grey 4px;
}

.seventh-box {
    border-left: solid grey 4px;
    border-bottom: solid grey 4px;
}

.eighth-box {
    border-bottom: solid grey 4px;

}


.ninth-box {
    border-bottom: solid grey 4px;
    border-right: solid grey 4px;

}


    
}

.footer {
    margin: 0 auto;
    text-align: center;

    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.4rem;
font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

footer:hover{
opacity: 1;
}



